###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# behavior for all clickonce files
#
# treat as binary.
###############################################################################
*.manifest binary
*.deploy binary
