###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# behaviour for all clickonce files
#
# treat as binary.
###############################################################################
*.manifest binary
*.application binary
*.deploy binary
*.zip binary
* binary
